{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'autorizathion/css/stylesSignUp.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="signup">
            <h1>Login</h1>
            <form action="" method="get">
             <div>
                <p><label for="email">Email</label></p>
                <input type="email" id="email" name="email" required autocomplete="off">
             </div>
             <div>
                <p><label for="password">Password</label></p>
                <input type="password" id="password" required>
             </div>
             <button type="button" id="btn">Sign Up</button>
             <p>Already a member? <a href="#">Log in</a></p>
            </form>
        </div>
    </div>
</body>
</html>