{% extends "index.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}

<form action="." method="post" class="toWrite">
  <p>Your Name</p>
  {{ form.username }}
  <p>Password</p>
  {{ form.password }}
  <!--{{form.as_p}}-->

  {% csrf_token %}

 <!--
  <div class="form-error">{{ form.non_field_errors }}</div>

  {% for f in form%}
  <p><label class="form-label" for="{{ f.id_for_label }}"> {{f.label}}:</label> {{ f }}</p>
  <div class="form-error">{{ f.errors}}</div>
  {% endfor %}
-->
  
  <input type="submit" value="OK" class="button">


</form>


{% endblock %}

