{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'polls/css/stylesPolls.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <title>Polls</title>
    <style type="text/css">
        .commonStyle {
            width: 140px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="http://127.0.0.1:8000">FIRST PAGE</a>
        <h1>Period:</h1>
        <form action="" method = "POST">
            {% csrf_token %}
            <div class="fromTimeCode">
                <p>From</p>
                {{form.start_date}}
                {{form.start_time}}
            </div>
            <div class="toTimeCode">
                <p>To</p>
                {{form.end_date}}
                {{form.end_time}}
            </div>
            <input type="submit" value="OK">
        </form>  
        <select name="places" class="places">
            <option value="#">#</option>
            <option value="#">#</option>
            <option value="#">#</option>
            <option value="#">#</option>
        </select>
        <select name="cameras" class="cameras">
            <option value="#">#</option>
            <option value="#">#</option>
            <option value="#">#</option>
            <option value="#">#</option>
        </select>        
    </div>
</body>
</html>