{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'polls/css/stylesPeriodd.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    
    <!-- new -->
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    </head>
    <body>
    <title>Period</title>

    <style type="text/css">
        .commonStyle {
            background-color: #fff;
            width: 140px;
            text-align: center;
            border-color: black;
            font-family: Comfortaa, Light300;
        }

        .commonStyle:focus {
            outline: none !important;
        }

        .dateStyles {
            width: 190px;
            margin-bottom: 11px;
        }
    </style>
</head>
<body>
	<header class="header">
		<div class="left nav">
            <a href="#openModal">Information</a>
		</div>
		<div class="right nav">
			<a href="#">Logout</a>
		</div>
	</header>
    <div class="borderGradient"></div>
    <div class="container">
        <div class="containerField">
            <h1>Period</h1>
            <div class="timeAndDate d-flex">
                <p class="signDate">Date</p>
                <!-- <p class="signTime">Time</p> -->
            </div>
            <form action="" method = "POST">
                {% csrf_token %}
                <div class="timeCode d-flex">
                    <div class="text">
                        <p class="margin_11_px">From</p>
                        <p class="margin_32_px">To</p>
                    </div>
                    <div class="date">
                       
                        {{form_date.s_date}}
                        {{form_date.e_date}}
                      
                        <!-- new -->
                    </div> 
                </div>
                <div class="list">
                    <select id="dropList">
                        <option value="" style="display: none;" selected="selected">Place Selection</option>
                        <option value=""></option>
                    </select>
                    <select id="dropList">
                        <option value="" style="display: none;" selected="selected">Cam Selection</option>
                        <option value=""></option>
                    </select>
                </div>
                <div class="button_container">
                    <input type="submit" value="Confirm" class="button">
                </div>
            </form>     
        </div>
    </div>
    
    <script>
        $(function () {
          $("#id_s_date").datetimepicker({
            format: 'd/m/Y H:i',
          });

          $("#id_e_date").datetimepicker({
            format: 'd/m/Y H:i',
          });
        });
    </script>
</body>
</html>