{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'polls/css/stylesStatistica.css' %}">
	<title>Statistics</title>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>

	<!-- XDSoft DateTimePicker -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
		integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
		integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
</head>

<body>
	<header class="header">
		<div class="left nav">
			<a href="{% url 'period' %}">Back to Period</a>
		</div>
		<div class="right nav">
			<a href="{% url 'logout' %}">Logout</a>
		</div>
	</header>
	
	<div id="openModal" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Statistic</h3>
					<a href="#close" title="Close" class="close">×</a>
				</div>
				<div class="modal-body">

					<div class="statistics" id="statistics">
						<form action="">
							<p class="statisticBorder">Время отсутствия</p>
							{% for time in miss_time %}
							<input type="text" value='{{time}}' disabled>
							<br>
							{% endfor %}
						</form>
						<form action="">
							<p class="statisticBorder">Тайм-код</p>
							{% for timecode in miss_timecode %}
							<input type="text" value="{{timecode}}" disabled>
							<br>
							{% endfor %}
						</form>
						<form action="">
							<p class="statisticBorder">Кол-во посетителей</p>
							<input type="text" name="customers" value="{{customers}}" disabled>
							<p class="statisticBorder">Время заинтересованности</p>
							<input type="text" name="timeInterest" value="{{average_time_customers}}" disabled>
							<p class="statisticBorder">Время вне работы</p>
							<input type="text" name="sumTimeOutOfWork" value="{{temp_samp}}" disabled>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div id="openModalVisual" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Visual statistics</h3>
					<a href="#close" title="Close" class="close">×</a>
				</div>
				<div class="modal-body">
					<p>...</p>
				</div>
			</div>
		</div>
	</div>

	<div id="openModalVideo" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Choose video</h3>
					<a href="#close" title="Close" class="close">×</a>
				</div>
				<div class="modal-body">
					<p>...</p>
				</div>
			</div>
		</div>
	</div>
	</div>
	
	<section class="common d-flex">
		<div class="videoContainer">
			<div class="video">
				{% for x in video %}
				<video width="840px" controls="controls">
					<source src="{{x.video.url}}" type="video/mp4">
				</video>
				{% endfor %}
			</div>
			<div class="btns d-flex">
				<a href="#openModal">Show statistic</a>
				<a href="#openModalVideo">Change video</a>
				<a href="#openModalVisual">Show visual</a>
			</div>
		</div>
	</section>
</body>

</html>