{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'polls/css/stylesStatistica.css' %}">
	<title>Statistics</title>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	
	<!-- XDSoft DateTimePicker -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
</head>
<body>
	<div class="kostili"></div>
	<div class="container"></div>
		<div id="openModal" class="modal">
			<div class="modal-dialog">
			  	<div class="modal-content">
					<div class="modal-header">
				  	<h3 class="modal-title">Statistic</h3>
				  	<a href="#close" title="Close" class="close">×</a>
				</div>
				<div class="modal-body">    
				  	<div class="statistics" id="statistics">
						<form action="">
							<p class="statisticBorder">Время отсутствия</p>
							{% for time in miss_time %}
								<input type="text" value='{{time}}' disabled>
								<br>
							{% endfor %}
						</form>
						<form action="">
							<p class="statisticBorder">Тайм-код</p>
							{% for timecode in miss_timecode %}
								<input type="text" value="{{timecode}}" disabled>
								<br>				
							{% endfor %}
						</form>
						<form action="">
							<p class="statisticBorder">Убыток</p>
							<input type="text" value="" disabled>
						</form>
						<form action="">
							<p class="statisticBorder">Общее время отсутствия</p>
							<input type="text" value="" disabled>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="videoContainer">
		{% for x in video %}
		<video width="840px" controls="controls">
			<source src="{{x.video.url}}" type="video/mp4">
		</video>
		{% endfor %}
		<a href="http://127.0.0.1:8000/polls/">Back to Period</a>
		<a href="#openModal">Show Statistic</a>
	</div>
</body>
</html>