* {
    box-sizing: border-box;
}

body {
    margin: 0;
    max-width: 100%;
    font-size: 16px;
    background: rgb(156,169,244);
    background: linear-gradient(90deg, rgba(156,169,244,1) 4%, rgba(232,163,247,1) 84%);
}

p, h1 {
    font-family: Comfortaa, Light300;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.videoContainer {
    width: 1008px;
    height: 571px;
    margin: 0 auto;
    margin-top: 36px;
    box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 44px;
    border: 4px black solid;
}

.statistics {
    margin: 0 auto;
    margin-top: 44px;
    margin-bottom: 75px;
    text-align: center;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.statistics input {
    border: none;
    text-align: center;
    margin-bottom: 5px;
    font-family: Comfortaa, Light300;
}

hr {
    width: 900px;
    border-bottom: 1px aliceblue solid;
    margin: 0 auto;
}

.statisticBorder {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px gray solid;
}