* {
    box-sizing: border-box;
    margin: 0;
}

body {
    max-width: 100%;
    font-size: 16px;
    background: rgb(156,169,244);
    background: linear-gradient(90deg, rgba(156,169,244,1) 4%, rgba(232,163,247,1) 84%);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

p, h1 {
    font-family: Comfortaa, Light300;
}

.d-flex {
    display: flex;
}

.timeAndDate {
    width: 276px;
    justify-content: right;
    margin-bottom: 5px;
}

.timeAndDate .signDate {
    margin-right: 70px;
}

.kostili {
    height: 5px;
    padding-top: 278px;
}

.container {
    padding: 32px 20px;
    margin-top: 286px;
    width: 350px;
    margin: 0 auto;
    border: 2px black solid;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.5);
}

.formContainer {
    width: 200px;
    margin: 0 auto;
}

.timeCode {
    margin-left: 30px;
}

.margin_11_px {
    margin-bottom: 11px;
}

.margin_32_px {
    margin-bottom: 32px;
}

.text {
    margin-right: 20px;
    text-align: right;
}

.date {
    width: 106px;
    margin-right: 20px;
}

.time {
    width: 75px;
}

.button_container {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.button {
    padding: 10px 30px;
    font-weight: 700;
    font-size: 0.875em;
    background-color: rgb(35, 35, 46);
    color: #f8f8f8;
    height: 50px;
    width: 345px;
    border-radius: 8px;
    border-color: black;
}

.button:hover {
    background-color: rgb(205, 191, 211);
    color: black;
    transition: 0.5s;
    border-color: black;
}

.list {
    width: 175px;
    margin: 0 auto;
}

select {
    background-color: rgb(205, 191, 211);
    color: black;
    font-family: Comfortaa, Light300;;
    text-align: center;
    margin-bottom: 18px;
    appearance: none;
    border: 2px black solid;
    height: 40px;
    width: 175px;
}

select:focus {
    outline: none !important;
}