* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    margin: 0;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    height: 1080px;
    font-family: Comfortaa, Light300;
}

.textField{
    margin:5px;
    border-width: 1px;
    border-radius: 1px;
    border-color: black;
    
}

.textField:focus
{
    margin:5px;
    border-width: 1px;
    border-radius: 1px;
    border-color: black;
}

.textField:hover
{
    margin:5px;
    border-width: 1px;
    border-radius: 1px;
    border-color: black;
}

.textField:active
{
    margin:5px;
    border-width: 1px;
    border-radius: 1px;
    border-color: black;
}


.container {
    width: 435px;
    margin: auto;
}

