body {
    max-width: 100%;
    margin: 0;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    font-family: Comfortaa, Light300;
    text-align: center;
    margin: 5px;
    margin-top: 15%;
}

.Text{
    width: 116px;
    height: 40px;
    left: 896px;
    top: 360px;
}

button{
    width: 343px;
    height: 52px;
    left: 784px;
    top: 586px;
    display: block;
    border-color: black;
    margin: auto;
    border-radius: 5px;
    background: black;
    color: white;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);

}

.textField{
    margin:5px;
    padding: 5px;
    border-width: 1px;
    border-radius: 1px;
    border-color: black;
    width: 343px;
    height: 52px;
    left: 784px;
    top: 442px;
    color: rgb(0, 0, 0);
    margin-top:5px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);

}

.container {
    width: 435px;
    margin: auto;
}

