body {
    max-width: 100%;
    margin: 0;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    height: 1080px;
    font-family: Comfortaa, Light300;
}

.Text{
    position: absolute;
    width: 116px;
    height: 40px;
    left: 896px;
    top: 360px;
    text-align: center;
}

button{
    width: 343px;
    height: 52px;
    left: 784px;
    top: 586px;
    display: block;
    border-color: black;
}

.textField{
    margin:5px;
    border-width: 1px;
    border-radius: 1px;
    display: block;
    border-color: black;
    width: 343px;
    height: 52px;
    left: 784px;
    top: 442px;
}

.container {
    width: 435px;
    margin: auto;
}

